<!-- <section>
    <section class="dropdown">
        <button class="dropbtn">Tracks 
          <i class="	fa fa-caret-down"></i>
        </button>
        <section class="dropdown-content">
          <a href="#">India</a>
          <a href="#">Spain</a>
        </section>
      </section> 
  <input type="text" name="search" placeholder="Search.."/>
  <button type="submit">search </button>

  </section> -->
  <nav class="navbar navbar-dark bg-dark">
      <form class="form-inline">
        <input class="form-control mr-sm-4" type="search" placeholder="Search Tracks" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>